###################################################
# Applications tab details
# This tab is structured with sets of columns:
#
# First 'app_fields' specifies columns to pull directly from the Naviance file
# (normally labeled current_applications.csv) and simply copies them in the
# following order. 'app_format_catch' applies a format to the headers of
# some of these columns
#
# Second 'applications_calculations' specifies calculated fields in order,
# allowing for format specifications of the header. This text is mostly in
# the form of Excel functions, but uses the %Label% convention introduced
# earlier to allow for reference to other columns within same row
#
app_fields: # fields to grab from the Naviance application data in order
    - Campus
    - hs_student_id
    - last_name
    - first_name
    - middle_name
    - collegename
    - stage
    - type
    - result_code
    - attending
    - waitlisted
    - deferred
    - comments
    - NCES

app_format_catch: # formats to add back to the Naviance application data
    collegename: bold_orange
    Campus: bold_blue
    hs_student_id: bold_blue
    last_name: bold_blue
    first_name: bold_blue
    NCES: bold_orange

applications_calculations: # definitions for calculated columns in order
    - Barron's:
        formula: =INDEX(AllCollegeBarrons,MATCH(%NCES%,AllCollegeNCES,0))
        format: bold_orange
    - GPA:
        formula: =INDEX(KidGPAs,MATCH(%hs_student_id%,KidIDs,0))
        format: bold_blue
    - ACT:
        formula: =INDEX(KidACTs,MATCH(%hs_student_id%,KidIDs,0))
        format: bold_blue
    - Strategy:
        formula: =INDEX(Strats,MATCH(%hs_student_id%,KidIDs,0))
        format: bold_blue
    - Race:
        formula: =INDEX(KidRace,MATCH(%hs_student_id%,KidIDs,0))
        format: bold_blue
    - FRace:
        formula: =IF(OR(%Race%="M",%Race%="I"),"H",%Race%)
        format: bold_blue
    - TargetGR:
        formula: =INDEX(StudentTargets,MATCH(%hs_student_id%,KidIDs,0))
        format: bold_blue
    - IdealGR:
        formula: =INDEX(ReachStudentTargets,MATCH(%hs_student_id%,KidIDs,0))
        format: bold_blue
    - PartnerBump:
        formula: =IF(OR(%comments%="Posse"),1,0)
        format: bold_orange
    - 6yr_all:
        formula: =IF(ISNUMBER(INDEX(AllCollegeGR, MATCH(%NCES%,AllCollegeNCES,0))),ROUND(INDEX(AllCollegeGR, MATCH(%NCES%,AllCollegeNCES,0))+%PartnerBump%*IF(INDEX(AllCollegeGR, MATCH(%NCES%,AllCollegeNCES,0))>0.7,(1-INDEX(AllCollegeGR, MATCH(%NCES%,AllCollegeNCES,0)))/2,0.15),2),INDEX(AllCollegeGR, MATCH(%NCES%,AllCollegeNCES,0)))
        format: bold_orange
    - 6yr_AA/H:
        formula: =IF(ISNUMBER(INDEX(AllCollegeAAHGR, MATCH(%NCES%,AllCollegeNCES,0))),ROUND(INDEX(AllCollegeAAHGR, MATCH(%NCES%,AllCollegeNCES,0))+%PartnerBump%*IF(INDEX(AllCollegeAAHGR, MATCH(%NCES%,AllCollegeNCES,0))>0.7,(1-INDEX(AllCollegeAAHGR, MATCH(%NCES%,AllCollegeNCES,0)))/2,0.15),2),INDEX(AllCollegeAAHGR, MATCH(%NCES%,AllCollegeNCES,0)))
        format: bold_orange
    - ACT25/50:
        formula: =IF(OR(%FRace%="H",%FRace%="B"),INDEX(AllCollegeACT25, MATCH(%NCES%,AllCollegeNCES,0)),INDEX(AllCollegeACT50, MATCH(%NCES%,AllCollegeNCES,0)))
        format: bold_orange
    - GPAcoefB:
        formula: =INDEX(CustomWeightsGPA,MATCH(%FRace%&":"&%NCES%,CustomWeightsIndex,0))
        format: bold_yellow
    - ACTcoefB:
        formula: =INDEX(CustomWeightsACT,MATCH(%FRace%&":"&%NCES%,CustomWeightsIndex,0))
        format: bold_yellow
    - InterceptB:
        formula: =INDEX(CustomWeightsIntercept,MATCH(%FRace%&":"&%NCES%,CustomWeightsIndex,0))
        format: bold_yellow
    - LogitB:
        formula: =%GPAcoefB%*%GPA%+%ACTcoefB%*%ACT%+%InterceptB%
        format: bold_yellow
    - GPAcoefA:
        formula: =INDEX(CoefficientsGPA,MATCH(%FRace%&":"&%Barron's%,CoefficientsIndex,0))
        format: bold_olive
    - ACTcoefA:
        formula: =INDEX(CoefficientsACT,MATCH(%FRace%&":"&%Barron's%,CoefficientsIndex,0))
        format: bold_olive
    - InterceptA:
        formula: =INDEX(CoefficientsIntercept,MATCH(%FRace%&":"&%Barron's%,CoefficientsIndex,0))
        format: bold_olive
    - LogitA:
        formula: =%GPAcoefA%*%GPA%+(%ACT%-%ACT25/50%)*%ACTcoefA%+%InterceptA%
        format: bold_olive
    - FinalLogit:
        formula: =IF(ISNUMBER(%LogitB%),%LogitB%,%LogitA%)
        format: bold_olive
    - Odds:
        formula: =IF(ISNUMBER(%FinalLogit%),IF(ISNUMBER(%GPAcoefA%),IF(AND(%GPAcoefA%=1,%ACTcoefA%=1,%InterceptA%=1),100,ROUND(100*EXP(%FinalLogit%)/(1+EXP(%FinalLogit%)),2)),ROUND(100*EXP(%FinalLogit%)/(1+EXP(%FinalLogit%)),2)),IF(ISTEXT(%Barron's%),IF(LEFT(%Barron's%,1)="2",100,"N/A"),"N/A"))
        format: bold_olive
    - Class:
        formula: =IF(ISNUMBER(%Odds%),IF(%Odds%>=99,IF(OR(%Strategy%=10,%Strategy%=11),MatchLabel,SureThingLabel),IF(%Odds%>=95,SecureLabel,IF(%Odds%>=80,SafetyLabel,IF(%Odds%>=50,MatchLabel,IF(%Odds%>=20,ReachLabel,IF(%Odds%>=10,LongshotLabel,HailMaryLabel)))))),"Other")
        format: bold_olive
    - Result:
        formula: =IF(OR(%result_code%="accepted",%result_code%="cond. accept",%result_code%="summer admit"),IF(%attending%="yes","CHOICE!","Accepted!"),IF(%result_code%="denied","Denied",IF(%waitlisted%=1,"Waitlist",IF(%deferred%=1,"Deferred",IF(%stage%="pending","Pending",IF(OR(%stage%="initial materials submitted",%stage%="mid-year submitted",%stage%="final submitted"),"Submitted",IF(%type%="interest","Interest","?")))))))
        format: bold_olive

    - ReachOrBetter:
        formula: =IF(OR(%Class%=ReachLabel,%Class%=LongshotLabel,%Class%=HailMaryLabel),1,0)
        format: bold_yellow
    - MatchOrBetter:
        formula: =IF(OR(%ReachOrBetter%=1,%Class%=MatchLabel),1,0)
        format: bold_yellow
    - MatchOrUnder:
        formula: =IF(OR(%Class%=MatchLabel,%Class%=SafetyLabel,%Class%=SecureLabel,%Class%=SureThingLabel),1,0)
        format: bold_yellow
    - 6yrAll/AAH_forSorting:
        formula: =IF(OR(%FRace%="H",%FRace%="B"),IF(ISNUMBER(%6yr_AA/H%),ROUND(%6yr_AA/H%,2),0),IF(ISNUMBER(%6yr_all%),ROUND(%6yr_all%,2),0))
        format: bold_yellow
    - TGROrBetter:
        formula: =IF(%6yrAll/AAH_forSorting%>=%TargetGR%,1,0)
        format: bold_yellow
    - IGROrBetter:
        formula: =IF(%6yrAll/AAH_forSorting%>=%IdealGR%,1,0)
        format: bold_yellow
    - FarBelowTGRCount:
        formula: =IF(%6yrAll/AAH_forSorting%<(%TargetGR%-0.10),1,0)
        format: bold_yellow
    - InverseOdds:
        formula: =1-%Odds%/100
        format: bold_yellow
    - MatchOrBetterMult:
        formula: =IF(%MatchOrBetter%=1,%InverseOdds%,1)
        format: bold_yellow
    - ReachOrBetterMult:
        formula: =IF(%ReachOrBetter%=1,%InverseOdds%,1)
        format: bold_yellow
    - TGRorBetterMult:
        formula: =IF(AND(%TGROrBetter%=1,ISNUMBER(%InverseOdds%)),$%InverseOdds%,1)
        format: bold_yellow
    - IGRorBetterMult:
        formula: =IF(AND(%IGROrBetter%=1,ISNUMBER(%InverseOdds%)),$%InverseOdds%,1)
        format: bold_yellow
    - MoneyYesNo:
        formula: =IF(ISNUMBER(%6yr_AA/H%),INDEX(AllCollegeMoney, MATCH(%NCES%,AllCollegeNCES,0)),0)
        format: bold_orange
    - TGRorBetterMoneyMult:
        formula: =IF(AND(%TGROrBetter%=1,ISNUMBER(%InverseOdds%),%MoneyYesNo%=1),$%InverseOdds%,1)
        format: bold_yellow
    - IGRorBetterMoneyMult:
        formula: =IF(AND(%IGROrBetter%=1,ISNUMBER(%InverseOdds%),%MoneyYesNo%=1),$%InverseOdds%,1)
        format: bold_yellow
    - ILPub:
        formula: =IF(ISNUMBER(%6yr_AA/H%),INDEX(AllCollegeILPub, MATCH(%NCES%,AllCollegeNCES,0)),0)
        format: bold_yellow
    # These odds fields should all be consecutive
    - Reach:
        formula: =IF(%Class%=ReachLabel,%6yrAll/AAH_forSorting%,0)
        format: bold_yellow
    - Match:
        formula: =IF(%Class%=MatchLabel,%6yrAll/AAH_forSorting%,0)
        format: bold_yellow
    - Safety:
        formula: =IF(%Class%=SafetyLabel,%6yrAll/AAH_forSorting%,0)
        format: bold_yellow
    - Secure:
        formula: =IF(%Class%=SecureLabel,%6yrAll/AAH_forSorting%,0)
        format: bold_yellow
    - Sure_Thing:
        formula: =IF(%Class%=SureThingLabel,%6yrAll/AAH_forSorting%,0)
        format: bold_yellow
    - Reach-:
        formula: =MAX(%Reach%:%Sure_Thing%)
        format: bold_yellow
    - Match-:
        formula: =MAX(%Match%:%Sure_Thing%)
        format: bold_yellow
    - Safety-:
        formula: =MAX(%Safety%:%Sure_Thing%)
        format: bold_yellow
    - ReachMoney:
        formula: =IF(AND(%Class%=ReachLabel,%MoneyYesNo%=1),%6yrAll/AAH_forSorting%,0)
        format: bold_yellow
    # These Odds Money fields all need to be consecutive
    - MatchMoney:
        formula: =IF(AND(%Class%=MatchLabel,%MoneyYesNo%=1),%6yrAll/AAH_forSorting%,0)
        format: bold_yellow
    - SafetyMoney:
        formula: =IF(AND(%Class%=SafetyLabel,%MoneyYesNo%=1),%6yrAll/AAH_forSorting%,0)
        format: bold_yellow
    - SecureMoney:
        formula: =IF(AND(%Class%=SecureLabel,%MoneyYesNo%=1),%6yrAll/AAH_forSorting%,0)
        format: bold_yellow
    - Sure_ThingMoney:
        formula: =IF(AND(%Class%=SureThingLabel,%MoneyYesNo%=1),%6yrAll/AAH_forSorting%,0)
        format: bold_yellow
    - Reach-Money:
        formula: =MAX(%ReachMoney%:%Sure_ThingMoney%)
        format: bold_yellow
    - Match-Money:
        formula: =MAX(%MatchMoney%:%Sure_ThingMoney%)
        format: bold_yellow
    - Safety-Money:
        formula: =MAX(%SafetyMoney%:%Sure_ThingMoney%)
        format: bold_yellow
    - MoneyChicago:
        formula: =IF(ISNUMBER(%6yr_AA/H%),INDEX(AllCollegeChicago, MATCH(%NCES%,AllCollegeNCES,0))*%MoneyYesNo%,0)
        format: bold_yellow
    - MoneyCode:
        formula: =IF(ISNUMBER(%6yr_AA/H%),INDEX(AllCollegeMoneyCode, MATCH(%NCES%,AllCollegeNCES,0)),"?")
        format: bold_yellow
    - BadMoney:
        formula: =IF(OR(%MoneyCode%="---",%MoneyCode%="--",%MoneyCode%="+/--",%MoneyCode%="+/---"),1,0)
        format: bold_yellow
    - GoldenThree:
        formula: =%MoneyYesNo%*%MatchOrUnder%*%TGROrBetter%
        format: bold_yellow


# The specifications here cause the output code to create Excel named ranges
# with the column specified. For example, the first entry will create a named
# range with name 'CollegeNames' that is a single column referenced wherever
# the 'collegename' column ends up
application_names:
    CollegeNames: collegename
    Stages: stage
    Students: hs_student_id
    NCESids: NCES
    Barrons: Barron's
    AllGradRates: 6yr_all
    GradRates: 6yr_AA/H
    Odds: Odds
    Classes: Class
    Results: Result
    MGRcount: TGROrBetter
    RGRcount: IGROrBetter
    FarBelowTGRCount: FarBelowTGRCount
    MatchMult: MatchOrBetterMult
    ReachMult: ReachOrBetterMult
    MGRMult: TGRorBetterMult
    RGRMult: IGRorBetterMult
    MoneyYesNo: MoneyYesNo
    MGRMoneyMult: TGRorBetterMoneyMult
    RGRMoneyMult: IGRorBetterMoneyMult
    ILPublic: ILPub
    ReachUnder: Reach-
    MatchOrUnder: MatchOrUnder
    SafetyUnder: Safety-
    ReachUnderMoney: Reach-Money
    MatchUnderMoney: Match-Money
    SafetyUnderMoney: Safety-Money
    MoneyCode: MoneyCode
    MoneyChicago: MoneyChicago
    BadMoney: BadMoney
    GoldenThree: GoldenThree
